 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                  <br></br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><br>
<b>Full Name:</b> Babakova Yana Sergeevna</br>
<br><b>Gender:</b> Female</br>

<br><b>Date of Birth:</b> 16 February 1988</br>
<br><b>Adress:</b> Baltyiskaya street, 35/274, Novosibirsk, Russia</br>
<br><b>Email:</b> kandi4joy@gmail.com</br>
<br><b>Telephone number:</b> +79137816541 (Mobile)</br>

<br><b>Education:</b>
Bachelor of Architecture
Novosibirsk University of Architecture, Arts and Design</br>
<br><b>Graduation date:</b> July 2010</br>

<br><b>Architectural Experiences:</b></br>
<br><b>May 2010 - August 2011 - Architect-constructor</b></br>
<br>Projected wooden buildings from SIP panels technology.
Drafted building designs using AutoCAD
3d visualization made using Artlantis Studio</br>

<br><b>August 2011 - August 2013 - Architect of Constraction Company</b></br>
</p>
                </div>
                <div class="col-lg-4">
                    <p><br>Projected first homecenter, first block of flats, using standarts and rules.
                    Worked on a construction places with builders, made presentations of projects for city’s goverment.
                    Drafted buiding designs in AutoCAD, ArchiCAD
                    3d visualization made in Vray for SketchUp</br>
                      <br><b>September 2013 - November 2015 - Architect-designer of Architectural Studio</b></br>
<br>Projected country houses, landscape designs and first interior designs.
Worked on construction place with builders, communicated with suppliers of materials.
Prepared layouts, drawings and preliminary sketches.
Compiled albums with architectural plans, specifications, cost estimates. Met with clients and discussed projects with them.
Drafted building designs in ArchiCAD
3d visualization in Lumion 5 and 3ds Studio Max Design</br>

<br><b>Hand Skills:</b>
Model making, Sketching, Painting</br>

<br><b>Languages:</b>
Russian- native, English - fluent</br>

<br><b>Interests:</b>
Reading, Modern Art, Modern music, Photography, Snowboarding</br> </p>
                </div>
            </div>
        </div>
    </section>
