 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                  <br></br>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-lg-4">-->
				<style>
				P{
					text-indent: 1.5em;
					text-align: justify;
				}
				</style>
                    <p>Hello!</br></p>
					<p>My name is Yana and I'm a freelancer with 2 years experience.</br></p>
<p>I have 6 years experience as architect and 2 years as landscape designer. Also i design interior for my projects. Two years ago i started to work not only for my company, i designed buildings for people who like my works.  I quit my work this year and start freelancing full-time.</br></p>
<p>I have been interested in design and architecture since I was a child. My grandpa worked as a director of construction company for more than 40 years. I had the pleasure of listening about new buildings in our city from him.</br></p>
<p>I have completed my education with a bachelor's degree in Architecture from Academy in Novosibirsk. I have worked in several respected architecture and design companies. Now I am a dynamic and ambitious architect with seven years experience in various projects, involving high ad single family homes, multy-family developments and commercial developments. My experience in freelance and travelling to different countries let me get precious knowledge and full understanding about architecture.</br></p>
<p>My attention to details and excellent problem-solving skills ensure that every project I work on is done accurately and to the highest standart. I am comfortable working as part of a team, but also am able to take an authoritative role when the situation arises.</br></p>
<p>My computer skills include extensive training and experience in BIM and 3D modeling, including AutoCAD, AtchiCAD, 3d Studio max, Revit Architecture, Lumion and other programs. A comprehensive working knowledge of the technical aspects of construction techniques is one of my clear strengths, but also my dual strengths are creative imagination and effective implementation.</br></p>
<p>Thank you for your time and consideration.</br></p>
<style>
				P{
					text-indent: 0em;
					text-align: justify;
				}
				</style>
<p>Sincerely yours,</br></p>
<p>Yana J.</br></p>
                <!--</div>-->
            </div>
        </div>
    </section>
