<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Freelancer</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
      {% for collection in site.collections %} {% if collection[1].size > 0 %}
      <li class="page-scroll">
        <a href="#{{ collection[0] }}">{{ collection[1].title }}</a>
      </li>
      {% endif %} {% endfor %}
      <li class="page-scroll">
        <a href="#about">About</a>
      </li>
      <li class="page-scroll">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
