<!-- Portfolio Grid Section -->
<section class="portfolio_category" id="{{ collection[0]] }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ collection[1].title }}</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      {% for page in collection[1].docs %}
      <div class="col-sm-6 col-md-6 portfolio-item">
        <a href="#portfolioModal-{{ page.title | slugify }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/{{ page.img }}" class="img-responsive" alt="{{ page.title }}">
          <div class="title-container">
            <div class="title-blur" style="background-image:url('img/{{ page.img }}');"></div>
            <div class="title-gradient"></div>
            <div class="title">{{ page.title }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
