    <!-- Portfolio Grid Section -->
    <section class="portfolio_category" id="{{ collection.label }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ collection.title }}</h2>
                    <br></br>
                </div>
            </div>
            <div class="row">
                {% for page in collection.docs %}
                      <div class="col-sm-4 col-md-6 portfolio-item">
                          <a href="#portfolioModal-{{ page.title | slugify }}" class="portfolio-link" data-toggle="modal">
                              <div class="caption">
                                  <div class="caption-content">
                                      <i class="fa fa-search-plus fa-3x"></i>
                                  </div>
                              </div>
                              <img src="img/{{ page.img }}" class="img-responsive" alt="{{ page.title }}">
                          </a>
                      </div>
                {% endfor %}
            </div>
        </div>
    </section>
